.container {
  background-color: #e1f8dc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  height: 400px;
  margin-inline: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .card {
    width: 380px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    h1 {
      text-align: center;
      font-size: 24px;
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }
}
