.container {
  display: inline-block;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  .increaseBtn {
    margin-right: 10px;
  }

  diV {
    margin-bottom: 10px;
  }
}
