.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20%;
  max-width: 500px;
  margin-inline: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;

  h1 {
    margin-top: 0;
  }
}
